.Grafico {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 30% !important;
    max-height: 20% !important;
    padding: 0 20%
}

.Grafico img {
box-shadow: none;
margin: 0px auto;
filter: saturate(1.5);


}